
.ember-application {
  margin: 20px;
}

.item-picker {
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.dropdown {
  display: block;
  position: relative;
}

.dropdown.active .dropdown-body {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.dropdown-body {
  display: none;
  position: absolute;
  border: 1px solid #aaa;
  z-index: 1010;
  background: white;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  border-top: none;
}

.dropdown-header {
  cursor: pointer;
  display: block;
  background-color: #fff;
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  font-size: 16px;
  line-height: 34px;
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 100%;
}

.dropdown-header:focus {
  outline: none;
}

.dropdown-query input {
  display: block;
  width: calc(100% - 6px);
  margin: 2px 0px 5px 0px;
  height: 20px;
}

.dropdown.active .dropdown-header {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: none;
}

.dropdown-body-wrapper {
  margin: 4px;
}

.dropdown-display {
  margin: 5px;
  margin-left: 7px;
}

.dropdown-display.placeholder {
  color: #999;
}

.dropdown-results { 
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-y: auto;
  position: relative;
  max-height: 310px;
}

.dropdown-results li {
  height: 20px;
  padding: 5px;
  line-height: 20px;
  cursor: pointer;
  /* mitigates a weird bug in chrome, where you can mouse over 1px of hidden padding along an edge */
  margin-bottom: 1px; 
}

.dropdown-results .no-results {
  cursor: auto;
}

.dropdown-result.is-highlighted {
  background-color: #1385E5;
  color: white;
}

.dropdown-results em {
  font-style: normal;
  text-decoration: underline;
}


